body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

* {
  font-family: Comic Sans MS;
}

#background {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url('res/back1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.pretty-container {
  display: flex;
  flex-direction: column;
  width: auto;
  border: 4px solid lightblue;
  border-width: 2px 6px 6px 2px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f5e4d0;
  padding: 20px;
  box-shadow: 0px 10px 15px 1px #f7e8c3;
}

#scrolling-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  transition: 1.5s transform;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

.no-delay {
  transition-delay: 0s;
}

#welcome {
  width: 38vw;
  height: auto;
  animation: fade-in 1.5s 1s ease-in-out both;
}

.initial {
  font-size: 18pt;
}

.message {
  display: flex;
  width: 100%;
  height: auto;
  font-size: 2.5vh;
  text-align: center;
  padding: 20px;
}

#end-screen {}

#score-counter {
  font-size: 30px;
}

.centre-text {
  text-align: center;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  width: 180px;
  height: 70px;
  font-size: 20pt;
  border: 1px solid #d8aef2;
  justify-content: center;
  align-items: center;
  background-color: #d8aef2;
  border: 4px solid #9a62bd;
  border-width: 0px 3px 3px 0px;
  border-radius: 10px;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  transition: 200ms transform;
  outline: none;
}

.button:hover {
  transform: translate(-1px, -1px);
  transition-delay: 100ms;
}

.button:active {
  box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.15);
  transform: translate(1px, 1px);
  transition-delay: 0ms;
}

.being-button {
  margin: 10px;
}

.answer {
  width: 90%;
  height: auto;
  text-align: center;
  padding: 12px;
  font-size: 2vh;
}

.correct {
  background-color: lightgreen;
  border-color: green;
}

.wrong {
  background-color: red;
  border-color: darkred;
}

.logo {
  display: flex;
  width: 19vh;
  height: 19vh;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  animation: fade-in 1.5s ease-in-out both;
}

.logo-img {
  width: 100%;
  height: 100%;
}

a {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  color: darkcyan;
}

a:active {
  color: darkblue;
}

@keyframes fade-in {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}